:root {
    --navbar-background: black;
    --navbar-text: #a6b5bc;
    --navbar-hover: #82cdd7;
}

nav.navbar.navbar-expand-sm.navbar{
    background-color: var(--navbar-background);
    border-width: 0px;
    margin-top: -5px;
    position: fixed;
    width:100%;
    border-radius: 0px;
}

.navbar>.container{
    display: contents !important;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.collapse.navbar-collapse.ms-auto{
    display:grid!important;
}

.fa.restyle{
    font-size: 18px;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar .navbar-brand {
    color: var(--navbar-text);
}

/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar .navbar-brand:hover {
    color: var(--navbar-hover);
}

.navbar .navbar-nav > li > a {
    color: var(--navbar-text);  
    padding-right: 20px;
}
.navbar .navbar-nav .nav-item {
    margin-top: 0px;
    padding-right: 20px;
}

.navbar .navbar-nav{
    float:right;
}
/* CSS rule to overwrite the bootstrap.css rules for setting the active 
font color and background colour
*/
.navbar .navbar-nav .nav-item > .active, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
    color: var(--navbar-hover); /* Font color for active font */
    background-color: var(--navbar-background); /* Blue color for background */
    text-decoration:none;
}
    
/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar .navbar-nav > li > a:hover, 
.navbar  .navbar-nav > li > a:focus {
    color: var(--navbar-hover);  
    text-decoration:none;
}

.navbar .navbar-toggler {
    color: var(--navbar-text);
    border-color: transparent;
    margin-bottom: 10px; /*works with all size navbars*/
    padding-right: 20px;
}

.navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus {
    color: var(--navbar-hover);
    border-color: transparent;
    outline: none!important;
    border:none;
    box-shadow: none;
}

.dropdown-menu, .navbar-nav .open ul.dropdown-menu {
    position: absolute!important;
    text-align: -webkit-left;
    background-color: var(--navbar-background);
    margin-top: 0px; 
    margin-right: 0px;
    right: 0;
}

.nav-link .dropdown-toggle{
    width:60px;
}

.navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: var(--navbar-text);
    background-color: var(--navbar-background);
    text-align: end;
    padding-right: 30px;
}
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: var(--navbar-hover);
    background-color: var(--navbar-background);
    text-decoration:none;
}

.navbar .navbar-toggler {
    outline: none !important;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--navbar-text);
    background-color: var(--navbar-background);
    align-items: flex-start;
    display: flex;
}

.container.footer{
    display: contents;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-text{
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-text > a {
    font-size: 10px;
}
.navbar-text > p {
    color: var(--navbar-text);
    font-size: 14px;
    text-decoration: none;
}
.copyright {
    padding-top: 8px;
    padding-left: 20px;
}
.social {
    padding-top: 0px; 
    padding-right: 10px;
}
.social-icon{
    color:var(--navbar-text);
    margin-left:10px;
}
.social-icon:hover{
    color:var(--navbar-hover);
}

/*devices that don't have room for a logo - height should be min*/
@media (min-width:0px){
    nav.navbar.navbar-expand-sm.navbar{
        max-height: fit-content;
    }
    .footer{
        max-height: 30px;
        position: static;
    }
    .navbar-text > p {
        font-size: 8px;
    }
    .navbar-text > a {
        font-size: 8px;
    }
    .navbar-text.copyright, .navbar-text.social{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
/* Devices with room for both logo and collapse toggle - height should go up*/
@media (min-width: 320px) { 
    nav.navbar.navbar-expand-sm.navbar{
        min-height: 60px;
    }
    .footer{
        max-height: 60px;
    }
    .collapse.navbar-collapse{
        overflow: visible!important;
        visibility: visible!important;
        height: auto !important;
    }
    .navbar-text > p {
        font-size: 10px;
    }
    .navbar-text > a {
        font-size: 10px;
    }
    .navbar-text.copyright, .navbar-text.social {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    nav.navbar.navbar-expand-sm.navbar{
        max-height: 60px;
    }
    .collapse.navbar-collapse{
        overflow: visible!important;
        visibility: visible!important;
        height: auto !important;
    }
    .footer {
        height: 60px;
        position: fixed;
    }
    .navbar-text > a {
        font-size: 10px;
    }
    .navbar-text > p {
        font-size: 18px;
    }
    .copyright {
        padding-top: 20px;
    }
    .social {
        padding-top: 7px;
    }
    .navbar-text.copyright, .navbar-text.social{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}