#model-container {
    height: auto;
    width: 100%;
    display: flex;
    padding: 10px;
  }
  #model3D {
    width: 75%;
  }
  #buttons {
    width: 25%;
    padding: 0px 5px 5px 0px;
  }
  #left{
      width:50%;
      padding: 0px 5px 5px 0px;
  }
  #right{
    width:50%;
    padding: 0px 5px 5px 0px;
}

.card.home-card, .card.model-card{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
}

.card.home-card .card-body, .card.model-card .card-body{
    border: 1px solid var(--background-secondary);
    background-color: var(--background-secondary);
    margin: 0px;
    margin-top: -2px;
    padding-top: 0px;
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
    border: 1px solid var(--text);
    border-top: none;
}

.card.model-card .card-body{
    padding:0px;
}


.card.model-card .card-header{
    border: 1px solid var(--background-secondary);
    background-color: var(--background);
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    border: 1px solid var(--text);
}

.card.home-card .card-text, .card.model-card .card-text{
    max-height: 50px;
    overflow-y: hidden;
    margin: 5px 10px 5px 10px;
}

.card.home-card .img-thumbnail, .card.model-card .img-thumbnail{
    background-color: transparent;
    border: none;
    max-width: 100%;
    height: auto;
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    padding: 0px;
    border: 1px solid var(--text);
    border-bottom: none;
}


#info1, #info2, #info3{
    float: right;
}

.btn.btn-primary{
    background-color: var(--background);
    border: none;
    color:var(--text);
    margin: 5px;  
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.card-text, .card-title{
    color:var(--text);
}

.card.home-card .btn-primary:hover, .card.model-card .btn-primary:hover, .btn.btn-primary:hover{
    background-color: var(--background);
    color:var(--dark-hover);
}

.card.home-card .btn-primary:focus, .card.model-card .btn-primary:focus, .btn.btn-primary:focus {
    background-color: var(--background);
    color: var(--dark-hover);
    outline: none!important;
    border:none;
    box-shadow: none;
}

ul.nav.nav-tabs.card-header-tabs{
    border-bottom: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card.home-card, .card.model-card{
        margin-bottom: 40px;
    }
}