/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap
*/

@font-face {
    font-family: OpenSans;
    src: url(../fonts/Open_Sans/OpenSans-Regular.TTF);
}

body{
    padding-bottom: 5px;
    background-color: rgba(182, 231, 243, 1.0);
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

#main_3d_image{
    background-image: url(../images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

.card{
    border: 1px solid grba(0, 0, 0, .125);
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
}

.gallery-header {
    color: white;
}

.gallery-header:hover {
    color: green;
    border: 1px solid transparent;
}

.model3D  {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 1.0);
    padding: 2px;
    height: 200px;
}

X3D, x3d {
    border-radius: 5px;
    border: 1px solid rgba(255, 0, 0, 1.0);
    width: 100%;
    height: 100%
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    body{
        background-color: rgba(182, 231, 243, 1.0);
    }
    .main_contents{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer {
        background-color: #257600;
        height: 60px;
    }
    .navbar-text > a {
        font-size: 10px;
    }
    .navbar-text > p {
        color: rgb(228, 75, 15);
        font-size: 18px;
    }
    .copyright {
        padding-top: 20px;
    }
    .social {
        padding-top: 7px;
    }

    .img-thumbnail {
        padding: 0.25rem;
        margin-top: 4px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto;
    }
}
/* Medium devices (tablets, 768px and up) */
/*@media (min-width: 768px) { ... }
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */
/* X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */
/* XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */