:root {
    /* --background: #04338d;
    --text: #a6b5bc;
    --hover: #82cdd7; */
    --background: black;
    --text: #a6b5bc;
    --hover: #82cdd7;
  }

  nav.navbar.navbar-expand-sm.navbar_coca_cola{
    background-color: var(--background);
    border-width: 0px;
    margin-top: -5px;
    position: fixed;
    width:100%;
}

.collapse.navbar-collapse.ms-auto{
    display:grid!important;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar_coca_cola .navbar-brand {
    color: var(--text);
}

/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_coca_cola .navbar-brand:hover {
    color: var(--hover);
}

.navbar_coca_cola .navbar-nav > li > a {
    color: var(--text);  
}
.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}
/* CSS rule to overwrite the bootstrap.css rules for setting the active 
font color and background colour
*/
.navbar_coca_cola .navbar-nav .nav-item > .active, 
.navbar_coca_cola .navbar-nav > .active > a:hover, 
.navbar_coca_cola .navbar-nav > .active > a:focus {
    color: var(--hover); /* Font color for active font */
    background-color: var(--background); /* Blue color for background */
    text-decoration:none;
}
    
/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola  .navbar-nav > li > a:focus {
    color: var(--hover);  
    text-decoration:none;
}

.navbar_coca_cola .navbar-toggler {
    color: var(--text);
    border-color: var(--background);
    margin-bottom: 10px; /*works with all size navbars*/
}

.dropdown-menu, .navbar-nav .open ul.dropdown-menu {
    text-align: -webkit-left;
    background-color: var(--background);
    margin-top: 0px; 
}

.nav-link .dropdown-toggle{
    width:60px;
}

.dropdown-menu .dropdown-item {
    color: var(--text);
    background-color: var(--background);
}
.dropdown-menu .dropdown-item:hover {
    color: var(--hover);
    background-color: var(--background);
    text-decoration:none;
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

.navbar.footer {
    color: var(--text);
    background-color: var(--background);
    position: sticky;
}
.footer {
    color: var(--text);
    background-color: var(--background);
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }

.navbar-text > a {
    font-size: 10px;
}
.navbar-text > p {
    color: var(--text);
    font-size: 14px;
    text-decoration: none;
}
.copyright {
    padding-top: 8px;
}
.social {
    padding-top: 0px; 
}


/*devices that don't have room for a logo - height should be min*/
@media (min-width:0px){
    nav.navbar.navbar-expand-sm.navbar_coca_cola{
        max-height: 30px;
    }
    .footer {
        height: 30px;
    }
}
/* Devices with room for both logo and collapse toggle - height should go up*/
@media (min-width: 320px) { 
    nav.navbar.navbar-expand-sm.navbar_coca_cola{
        min-height: 60px;
    }
    .collapse.navbar-collapse.ms-auto{
        overflow: visible!important;
        visibility: visible!important;
        height: auto !important;;
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .footer {
        height: 60px;
    }
    .navbar-text > a {
        font-size: 10px;
    }
    .navbar-text > p {
        font-size: 18px;
    }
    .copyright {
        padding-top: 20px;
    }
    .social {
        padding-top: 7px;
    }
}